body {
    animation: bg 5s infinite linear;
    color: white;
}

@keyframes bg {
    0% {
        background-color: #111222;
    }
    50% {
        background-color: #222333;
    }
    100% {
        background-color: #111222;
    }
}

.navbar {
    top: 0;
    text-align: center;
    backdrop-filter: blur(8px);
    z-index: 10000;
    width: 100vw;
    background-color: #000000b0;
    box-shadow: #000 0 0 10px;
    /*height: 42.5px;*/
}

.u {
    display: inline-block;
    transition: 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.u:hover {
    transform: translateX(3px);
}